/**
 * This file contains all settings/variables for your application.
 */



/* ===== FONTS ===== */

/**
 * 1. Force reference on `html` component to have consistent `rem`.
 *    Bear in mind this will become your baseline when calculating
 *    dimensions/font sizes/etc. It's set to `10` to ease the math.
 */
$fontDefaultSize: 10px; // [1]
$fontFamilyPrimary: sans-serif;
$fontFamilySecondary: sans-serif;
$fontFamilyIcons: "";
$fontFamilyCoding: monospace;



/* ===== TYPOGRAPHY ===== */

/**
 * Default `line-height`
 */
$lineHeightDefault: 1;

/**
 * Other units for scaling
 */
$alpha: 4.2rem; // 42px
$beta: 3.6rem; // 36px
$gamma: 3.2rem; // 32px
$delta: 2.6rem; // 26px
$epsilon: 2.4rem; // 24px
$zeta: 2rem; // 20px
$eta: 1.8rem; // 18px
$theta: 1.6rem; // 16px
$iota: 1.4rem; // 14px
$kappa: 1.2rem; // 12px
$lambda: 1rem; // 10px
$mu: .8rem; // 8px



/**
 * Headings specific sizes
 */
$h1Size: $gamma; // 32px
$h2Size: $delta; // 26px
$h3Size: $zeta; // 20px
$h4Size: $theta; // 16px
$h5Size: $kappa; // 12px
$h6Size: $mu; // 8px



/* ===== COLORS ===== */

/**
 * Base colors
 */
$colorPrimary: #333;
$colorSecondary: #333;

/**
 * Taken from Flat UI Colors [http://flatuicolors.com/]
 */
$colorLink: #3498db;
$colorSuccess: #27ae60;
$colorWarning: #f39c12;
$colorInfo: #4aa3df;
$colorError: #e74c3c;

/**
 * Nuances
 *
 * 1. Never go for #000
 */
$colorWhite: #fff;
$colorBlack: #333; // [1]
$colorRed: #e74c3c;
$colorBlue: #3498db;
$colorGreen: #27ae60;
$colorOrange: #f39c12;
$colorGray: #ccc;
$colorLightGray: #f0f0f0;
$colorDarkGray: #888;



/* ===== UTILITIES ===== */

$baseMargin: 1rem;
$basePadding: 1rem;
$generalRoundCorners: 3px;
$flexboxName: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;
$flexboxNumber: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$gridGutter: 1rem;
