/**
 * HELPERS
 */

.mt-half { margin-top: .5rem; }
.mt-full { margin-top: 1rem; }
.mt-double { margin-top: 2rem; }

.mr-half { margin-right: .5rem; }
.mr-full { margin-right: 1rem; }
.mr-double { margin-right: 2rem; }

.mb-half { margin-bottom: .5rem; }
.mb-full { margin-bottom: 1rem; }
.mb-double { margin-bottom: 2rem; }

.ml-half { margin-left: .5rem; }
.ml-full { margin-left: 1rem; }
.ml-double { margin-left: 2rem; }

.highlight { color: #e74c3c; }