/**
 * POST SUMMARY STYLES (HOMEPAGE)
 */

.post--is-summary {
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.post--is-summary::after {
  display: block;
  width: 50%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #ccc;
  content: "";
}

.post--is-summary h2 {
  font-size: 2rem;
  line-height: 1.35;
}

.post__excerpt {
  font-size: .925rem;
  line-height: 1.75;
  text-align: left;
}
