/**
 * VARIABLES
 */

/// Regular font family
/// @type List
$text-font-stack: "Bitter", sans-serif !default;



// Copy text color
$text-color: rgb(34, 34, 34) !default;

// Main brand color
$brand-color: rgb(229, 0, 80) !default;

// Light grey
$light-grey: rgb(237, 237, 237) !default;

// Medium grey
$mid-grey: rgb(153, 153, 153) !default;

// Dark grey
$dark-grey: rgb(68, 68, 68) !default;