<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />

	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:image" content="favicon-32x32.png" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  <header class="site-header">
    <a href="/">
      <img src="/img/cluJSers-logo-black.png" alt="CluJSers" title="Cluj JavaScripters" />
    </a>
    <nav>
      <a class="mr-double" href="/">Articles</a>
      <a class="mr-double" href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  {{content}}

	<footer class="site-footer">
		<nav>
			<a class="mr-double" href="/">Articles</a>
			<a class="mr-double" href="/about">About</a>
			<a href="/contact">Contact</a>
		</nav>
		<p>
			Built with 💙 for the community.
		</p>
	</footer>
</body>

</html>
