---
layout: default
---

<main class="site-content" role="main">
  <article class="post">
    <header class="post__header">
      <h2>
        {{ page.title | escape }}
      </h2>
    </header>
    <section class="post__content">
      {{ content }}
    </section>
    <footer class="post__footer">
      <p>
        Posted by <span class="highlight">{{ page.author }}</span> on
        <time>
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </p>      
    </footer>
  </article>
</main>
